{% extends "base.html" %}
{% block content %}
<div class="container-fluid col-md-offset-2">
		<div class = "transbox col-md-9">
			<div class = "text-center alert alert-info">
				<h2>New Post</h2>
			</div>

			<form method="post" class="row">
				<div class = "form-group col-md-11"> 
					Message (in 300 characters or less)
					<textarea name = "content" class="form-control" placeholder = "I am starting in fifteen minutes!">{{content}}</textarea>
				</div>
				<div class = "form-group col-md-11"> 
					Subject (will be converted to one-word)
					<input type = "text" name = "subject" value = "{{subject}}" class="form-control">
				</div>
				<div class="container-fluid">
					<div class="form-group col-md-5">
						Starting from?
						<select name = "source" class="form-control">
							<option value="None"> Enter below </option>
								{% for each in sources %}
									<option value="{{each.source}}"> {{each.source}} </option>
								{% endfor %}
						</select>
					</div>
					<div class="form-group col-md-5">
						Going to?
						<select name = "destination" class="form-control">
							<option value="None"> Enter below </option>
								{% for each in destinations %}
									<option value="{{each.destination}}"> {{each.destination}} </option>
								{% endfor %}
						</select>
					</div>
				</div>
				

				<div class="container-fluid">
					<div class="form-group col-md-5">
						<input type = "text" name = "source2" class="form-control"placeholder="New Source if not in options"> 
					</div>
					<div class="form-group col-md-5">
						<input type = "text" name = "destination2" class="form-control" placeholder="New Destination different from the source"> 
					</div>
				</div>								


				<div class="form-group col-md-11">
					<input type = "submit" class="form-control"> <br>
				</div>
				{% if error %}
					<div class="alert alert-danger col-md-11 text-center" role="alert">{{error}}</div>
				{%endif%}
			</form>

</div>
</div>
</div>

{% endblock %}
